body {
    padding: 0;
    margin:0;
    line-height: 30px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color:black;
    background-color: white;
    min-width: 1040px;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

.container-small {
    width:800px;
    margin: 0 auto;
}
.container {
    width: 1015px;
    margin: 0 auto;
}
.main-header,
.main-footer{
    color:#363636;
    background-color: #c3c3c3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section-name {
    font-size: 40px;
    line-height: 61px;
    text-transform: uppercase;
    margin:0;
    margin-bottom: 75px;
    font-weight: bold;
}
.btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #834700;
    text-transform: uppercase;
    text-decoration: none;
    color: #834700;
    font-weight: bold;
    line-height: 20px;
}
.btn:hover {
    color: #6b3b02;
    border-color: #6b3b02;
}
.btn:active {
    color: rgba(210,195,178,0.3);
    border-color: rgba(210,195,178,0.3);
}
/*/////////HEADER/////////*/
.main-header {
    background: url('img/wheat-back.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: #ffcb78;
}
.main-navigation {
    margin-bottom:125px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}
.main-navigation img {
    width:140px;
    height: 76px;
}
.main-header-logo {
    filter: drop-shadow(0 0 20px black);
}
.site-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 600px;
    list-style: none;
    margin: 0;
    margin-left:60px;
    margin-top:10px;
    padding: 15px 0 15px 0;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.site-nav__item{
    margin-right: 54px;

}
.site-nav__item:last-child {
    margin-right: 0;
}
.site-nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
}
.site-nav__item a:hover {
    color:#ffcb78;
    border-bottom: 1px solid white;
}
.site-nav__item a:active {
    color: rgba(255,204,102, 0.3);
    border-bottom: 1px solid white;    
}
.promo {
    line-height: 70px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
.promo p {
    color:white;
    text-decoration: none;
}
/*/////////NOVELTY/////////////////*/
.novelty {
    padding: 90px 0 0;
}
.novelty-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.novelty-name {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    margin-bottom: 30px;
}
.novelty-list__item {
    box-sizing: border-box;
    position: relative;
    width: 400px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-bottom: 100px;
}
.novelty-list__item:nth-child(2n) {
    border-left:none;
}
.novelty-info-container {
    position: absolute;
    width:170px;
    right:20px;
    top:70px;
}
.novelty-info {
    font-weight: bold;
    text-transform: uppercase;
    border-collapse: collapse;
}
.novelty-info td {
      border: 1px solid #e5e5e5;
      min-width: 70px;
      padding-left: 10px;
}
.novelty-img {
    margin-bottom: 15px;
}
.novelty-description {
  margin:0;
  margin-bottom: 60px;  
}
.novelty-ordering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.btn-more {
    margin-right: 5px;
}
.btn-buy {
    margin-right: auto;
    color: #ffffff;
    border-color: #834700;
    background-color: #834700;
}
.btn-buy:hover {
    border-color: #6a3900;
    background-color: #6a3900;
    color: white;
}
.btn-buy:active {
    border-color: #6a3900;
    background-color: #6a3900;
    color: #a08874;
}
/*//////////ADVENTAGES/////////////*/