body {
    padding: 0;
    margin:0;
    line-height: 30px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    color:black;
    background-color: white;
    min-width: 1200px;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

.container-small {
    width:800px;
    margin: 0 auto;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.main-header,
.main-footer{
    color:#363636;
    background-color: #c3c3c3;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section-name {
    font-size: 40px;
    line-height: 61px;
    text-transform: uppercase;
    margin:0;
    margin-bottom: 75px;
    font-weight: bold;
}
.btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #834700;
    text-transform: uppercase;
    text-decoration: none;
    color: #834700;
    font-weight: bold;
    line-height: 20px;
}
.btn:hover {
    color: #6b3b02;
    border-color: #6b3b02;
}
.btn:active {
    color: rgba(210,195,178,0.3);
    border-color: rgba(210,195,178,0.3);
}
.btn,
input,
textarea,
select {
    overflow: visible;
    font-size: 100%;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
}
/*/////////HEADER/////////*/
.main-header {
    background: url('img/wheat-back.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: #ffcb78;
}
.main-navigation {
    margin-bottom:125px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
}
.main-navigation img {
    width:140px;
    height: 76px;
}
.main-header-logo {
    filter: drop-shadow(0 0 20px black);
}
.site-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 600px;
    list-style: none;
    margin: 0;
    margin-left:60px;
    margin-top:10px;
    padding: 15px 0 15px 0;
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.site-nav__item{
    margin-right: 54px;

}
.site-nav__item:last-child {
    margin-right: 0;
}
.site-nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
}
.site-nav__item a:hover {
    color:#ffcb78;
    border-bottom: 1px solid white;
}
.site-nav__item a:active {
    color: rgba(255,204,102, 0.3);
    border-bottom: 1px solid white;    
}
.promo {
    line-height: 70px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
.promo p {
    color:white;
    text-decoration: none;
}
/*/////////NOVELTY/////////////////*/
.novelty {
    padding: 90px 0 0;
}
.novelty-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.novelty-name {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    margin-bottom: 30px;
}
.novelty-list__item {
    box-sizing: border-box;
    position: relative;
    width: 400px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    margin-bottom: 100px;
}
.novelty-list__item:nth-child(2n) {
    border-left:none;
}
.novelty-info-container {
    position: absolute;
    width:170px;
    right:20px;
    top:70px;
}
.novelty-info {
    font-weight: bold;
    text-transform: uppercase;
    border-collapse: collapse;
}
.novelty-info td {
      border: 1px solid #e5e5e5;
      min-width: 70px;
      padding-left: 10px;
}
.novelty-img {
    margin-bottom: 15px;
}
.novelty-description {
  margin:0;
  margin-bottom: 60px;  
}
.novelty-ordering {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.btn-more {
    margin-right: 5px;
}
.btn-buy {
    margin-right: auto;
    color: #ffffff;
    border-color: #834700;
    background-color: #834700;
}
.btn-buy:hover {
    border-color: #6a3900;
    background-color: #6a3900;
    color: white;
}
.btn-buy:active {
    border-color: #6a3900;
    background-color: #6a3900;
    color: #a08874;
}
/*//////////ADVENTAGES/////////////*/

.advantages {
    background-color: #ffcb78;
}

.adventages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: auto;
}

.adventages-list__item {
    position: relative;
    padding: 80px 90px;
    width: 400px;
}
.adventages-list__item::before {
    content: "";
    position: static;
    display: block;
    height: 70px;
    width: 70px;
    margin-bottom: 30px;
}
.first-item::before {
    background-image: url('img/icon-brew.png');
    background-repeat: no-repeat;
}
.second-item::before {
    background-image: url(img/icon-matreshka.png);
    background-repeat: no-repeat;
}
.third-item::before {
    background-image: url(img/icon-thumbsup.png);
    background-repeat: no-repeat;
}
.adventages-list__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    height: auto;
    width: 1px;
    background-color: #e7b66a;
    margin: 85px 0;
}
.adventages-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}
.adventages-list__item p {
    margin: 0;
    color: #505050;
}
/*///////////HISTORY////////////*/
.history {
    padding: 90px 0 20px;
}
.history dl {
    margin: 0;
}
.history dt,
.history dd {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.history dt {
    margin-bottom: 20px;
}
.history h3 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    margin-right: auto;
    width: 500px;
}
.history dd {
    flex-direction: row-reverse;
    margin-bottom: 70px;
}
.history p {
    width: 500px;
    margin: 0;
    margin-right: auto;
}
.history i a {
    color:#834700;
}
.history i a:hover {
    color:#6a3900;
}
.history i a:active {
    color: #cab7a2;
}
/*/////////////ABOUT///////////////////*/
.about {
    background-color: #ede5d8;
    padding: 90px 0 20px;
}
.about blockquote {
    margin: 0;
    margin-bottom: 70px;
    position: relative;
}
.about-details {
    margin: 0;
    margin-bottom: 40px;
    color: #505050;
    width: 700px;
}
.about-details::before {
    position: absolute;
    content: "";
    background-image: url(img/quotes.png);
    background-repeat: no-repeat;
    width:41px;
    height: 31px;
    left:-101px;
}
.about-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.about-info cite {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
}
.btn-about {
    color:rgba(165,160,151);
    border-color: rgba(165,160,151);
}
.btn-about:hover {
    color:white;
    background-color:rgba(165,160,151) ;
    border-color: rgba(165,160,151);
}
.btn-about:active {
    color:#b5b2ad;
    background-color:rgba(165,160,151) ;
}
/*//////////ASSORTMENT///////////////*/
.assortment {
    padding: 90px 0 90px;
}
.assortment-table th {
    color:#999999;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 30px;
}
.assortment-table {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-collapse: collapse;
}
.assortment-table tr {
    border-bottom: 1px solid #e5e5e5;
}
.assortment-table th:first-child,
.assortment-table td:first-child{
    text-align: left;
    width: 400px;
}
.assortment-table th,
.assortment-table td {
    width: 70px;
}
.assortment-table td:first-child {
    font-weight: bold;
}
.assortment-table td {
    padding: 15px 0;
}
/*///////////ORDER////////////*/
.order {
    padding: 90px 0 90px;
    background-color: #ffcb78;
}
.order-description {
  margin: 0;
    margin-bottom: 60px;
    color: #505050;
}
.order label {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
.order-form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}
.order-form input:placeholder-shown {
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
}
.text-input {
    box-sizing: border-box;
   border: none;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 50px;
    background-color: #e6b66c;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 20px;
}
.order-form-group-half {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.text-short-input {
    box-sizing: border-box;
   border: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    background-color: #e6b66c;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 20px;
}
.order-form-group-half:nth-child(2n) {
    width: 345px;
}
.add-textarea-margin {
    margin-bottom: 40px;
}
.order-form textarea:placeholder-shown {
    color: #000000;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: bold;
}
.textarea-input {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
    background-color: #e6b66c;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px 20px;
}
.checkbox-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 260px;
    min-height: 36px;
}
.input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -60px;
    top: -3px;
    width: 36px;
    height: 36px;
    background-color: #e6b66c;
}
.checkbox-area label {
    text-transform: uppercase;
    font-weight: bold;
     position: relative;
}
.input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -55px;
    width: 30px;
    height: 30px;
    background-image: url(img/tick.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.add-padding-for-btn-buy {
    padding-left: 200px;
}
